@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/times_new_roman.eot');
  src: url('../fonts/times_new_roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/times_new_roman.woff2') format('woff2'),
  url('../fonts/times_new_roman.woff') format('woff'),
  url('../fonts/times_new_roman.ttf') format('truetype');
}

/*breakpoint
========================================*/
$breakpoint-mob: 767px;



@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}
* {
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #14141d;
  font-size: 14px;
  line-height: 1.3;
}
p{
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman';
  font-weight: 700;
  margin: 0;
}
section {
  padding: 80px 0;

  @media screen and (max-width: 767px){
    padding: 40px 0;
  }
}
.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  @media screen and (max-width: 767px){
    text-align: center;
  }
}
#first {
  position: relative;

  &:before, &:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    height: 100%;
    z-index: -1;
    @media screen and (max-width: 992px){
      width: 100%;
    }
  }
  &:before {
    left: 0;
    width: 47%;
    background: url("../../dist/images/image-930-x-572.jpg") no-repeat center center;
    background-size: cover;
    @media screen and (max-width: 992px){
      display: none;
    }
  }
  &:after {
    left: 47%;
    width: 53%;
    background-color: #ecf1f4;
    @media screen and (max-width: 992px){
      width: 100%;
      left: 0;
    }
  }
  .img-hidden {
    display: none;

    @media screen and (max-width: 992px){
      display: block;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .speciality {

    &__item {
      line-height: 26px;
      margin-bottom: 35px;
      color: #5c6369;
      @media screen and (max-width: 767px){
        text-align: center;
      }

      strong {
        display: block;
        text-transform: uppercase;
        color: #14141d;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: 992px){
      margin-top: 50px;
    }
  }
}

/*product-items
============================*/
.product-list {
  flex: 0 0 73%;
  max-width: calc(100% - 300px);
  @media screen and (max-width: 1023px){
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.product-cart {
  flex: 0 0 27%;
  max-width: 300px;
  @media screen and (max-width: 1023px){
    flex: 0 0 100%;
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.item-cell { width:48%; }
.price-cell { width: 15%; }
.qty-cell { width: 17%; }
.subtotal-sell { width: 20%;}

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;

  .Rtable-row {
    width: 100%;
    display: flex;

    .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 20px 0;
      overflow: hidden;
      list-style: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;

      &.column-heading {
        color: #14141d;
        font-size: 22px;
        font-family: 'Times New Roman';
        font-weight: 700;
        padding-top: 0;
      }

      .Rtable-cell--heading {
        display: none;
      }

      .Rtable-cell--content {
        font-size: 15px;
        font-weight: 700;

        &.item-content {
          display: flex;
          align-items: center;
          position: relative;

          img {
            margin-right: 30px;
          }
          .prod-name {
            text-transform: uppercase;

          }
          .btn-close {
            position: absolute;
            top: -5px;
            left: 100px;
            font-size: 10px;
            display: flex;
            justify-content: center;align-items: center;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            width: 20px;
            height: 20px;
            background-color: #fd4d36;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.qty-cell input {
  width: 60px;
  height: 40px;
  text-align: center;
}
/* Responsive for product-items
==================================== */
@media all and (max-width: $breakpoint-mob) {
  .Rtable--collapse  {
    display: block;
    margin: 0 auto;
    width: 100%;

    .Rtable-row {
      box-sizing: border-box;
      border: 2px solid #5c6369;
      padding: 0 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;

      .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;

        .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 60px;
          min-width: 60px;
          color: #fea100;
          font-weight: 700;
          margin-right: 1em;
        }

        .Rtable-cell--content {
          flex: 2;
          padding-left: 1em;

          &.item-content {
            flex-direction: column;
            align-items: flex-start;

            img {
              margin-right: 0px;
              margin-bottom: 10px;
            }
            .btn-close {
              left: 115px;
            }
          }
        }
      }
    }

    .Rtable-row--head {
      display: none;
    }
  }
}

/*checkout
======================================*/
.product-cart {
  &__block {
    width: 270px;
    background-color: #fe4c8d;
    padding: 10px;
  }
  &__wrap {
    height: 380px;
    border: 1px dotted #ffa6c6;
    color: #fff;

    .checkout {
      width: 200px;
      height: 50px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #fea100;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      margin: 30px auto 0;
      transition: background-color 0.5s;
      outline: none;
      border: none;

      &:hover, &:focus {
        background-color: #7d8587;
        transition: background-color 0.5s;
      }
    }

    h3 {
      margin: 30px 30px 10px;
      font-size: 22px;
    }

    .table {
      .table-cell {
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
          span {
            width: 55px;
            text-align: left;
          }
        }
      .total-cell {
        margin-top: 25px;
        border-top: 1px dotted #ffa6c6;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 30px;
      }
    }
  }
}

/*last section
==========================================*/
#last {
  color: #fff;
  background: #fea100;
  overflow: hidden;
  margin-bottom: 150px;

  .row {
    position: relative;

    &:before{
      position: absolute;
      display: block;
      content: url("../../dist/images/leaves-left.png");
      top: -150px;
      left: -160px;
      width: 191px;
      height: 180px;
      @media screen and (max-width: 540px) {
        display: none;
      }
    }
    &:after {
      position: absolute;
      display: block;
      content: url("../../dist/images/leaves-right.png");
      top: -370px;
      right: -46%;
      width: 1050px;
      height: 1067px;

      @media screen and (max-width: 1023px) {
        right: -90%;
      }
      @media screen and (max-width: 767px) {
        right: -130%;
        top: -340px;
      }
      @media screen and (max-width: 540px) {
        display: none;
      }
    }

    .scroll {
      height: 320px;
      overflow-y: scroll;
      position: relative;
      z-index: 1;

      @media screen and (max-width: 767px) {
        height: 380px;
        max-width: calc(100% - 15px);
      }

      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @media screen and (max-width: 540px) {
          flex-direction: column;
          text-align: center;
          margin-bottom: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
      &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70px;
        width: 70px;
        min-height: 75px;
        height: 75px;
        padding: 0 15px;
        margin-right: 30px;
        background-color: #cc8306;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Times New Roman';

        @media screen and (max-width: 540px) {
          font-size: 12px;
          min-width: 50px;
          width: 50px;
          min-height: 55px;
          height: 55px;
          margin: 0 0 10px;
        }

        &:before {
          position: absolute;
          content: "";
          display: block;
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          top: 6px;
          left: 6px;
          border: 3px solid #fea100;
          @media screen and (max-width: 540px) {
            border: 2px solid #fea100;
          }
        }
      }
      &__desc {
        line-height: 26px;
        padding-right: 8%;
        @media screen and (max-width: 540px) {
          padding-right: 0;
        }
      }
    }
    .scroll::-webkit-scrollbar {
      width: 9px;
    }
    .scroll::-webkit-scrollbar-track {
      background-color: #cc8306;
      border-radius: 9px;
    }
    .scroll::-webkit-scrollbar-thumb {
      border-radius: 9px;
      background: #503608 url("../../dist/images/scroling_line.png") no-repeat center center;
    }
  }
}